* {
  font-family: "comic sans ms", sans-serif;
  box-sizing: border-box;
}

html {
  zoom: 2;
}

header h1 {
  margin: 8px 0;
  padding-bottom: 0;
}

header {
  margin-bottom: 24px;
}

.game-and-submission {
  display: flex;
  justify-content: space-evenly;
}

#submit-score-wrapper {
  font-size: 60%;
}

.key-and-joy-container {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row.bottom {
  /* For staggered KB effect */
  margin-left: 8px;
}

.circle #vert-line {
  height: 58px;
  width: 1px;
  background: black;
  position: absolute;
  left: 27px;
}

.circle #hori-line {
  width: 58px;
  height: 1px;
  background: black;
  position: absolute;
  top: 27px;
}

.circle .key {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 18px;
  height: 18px;
  position: absolute;
}

#keyboard-guide .key {
  display: none;
  font-size: 12px;
}

#keyboard-guide.active-w .key-q {
  display: block;
  top: -24px;
  left: 4px;
}

#keyboard-guide.active-w .key-e {
  display: block;
  top: -24px;
  left: 34px;
}

#keyboard-guide.active-s .key-q {
  display: block;
  bottom: -24px;
  left: 4px;
}

#keyboard-guide.active-s .key-e {
  display: block;
  bottom: -24px;
  left: 34px;
}

#keyboard-guide.active-d .key-q {
  display: block;
  right: -24px;
  top: 2px;
}

#keyboard-guide.active-d .key-a {
  display: block;
  right: -24px;
  top: 34px;
}

#keyboard-guide.active-a .key-e {
  display: block;
  left: -24px;
  top: 2px;
}

#keyboard-guide.active-a .key-d {
  display: block;
  left: -24px;
  top: 34px;
}

#keyboard-guide.active-d.w .key-q {
  display: block;
  top: -22px;
  left: 50px;
}
#keyboard-guide.active-d.w .key-a {
  display: block;
  right: -22px;
  top: -2px;
}

#keyboard-guide.active-d.s .key-q {
  display: block;
  bottom: -2px;
  right: -22px;
  top: auto;
}
#keyboard-guide.active-d.s .key-a {
  display: block;
  bottom: -22px;
  left: 50px;
  top: auto;
}
#keyboard-guide.active-d .key-e {
  display: none;
}
#keyboard-guide.active-d .key-d {
  display: none;
}

#keyboard-guide.active-a.w .key-e {
  display: block;
  top: -22px;
  right: 50px;
  left: auto;
}
#keyboard-guide.active-a.w .key-d {
  display: block;
  right: -22px;
  top: -2px;
}

#keyboard-guide.active-a.s .key-e {
  display: block;
  bottom: -2px;
  right: -22px;
  top: auto;
}
#keyboard-guide.active-a.s .key-d {
  display: block;
  bottom: -22px;
  right: 50px;
  top: auto;
  left: auto;
}
#keyboard-guide.active-a .key-q {
  display: none;
}
#keyboard-guide.active-a .key-a {
  display: none;
}

.key {
  height: 24px;
  width: 24px;
  font-size: 9px;
  background: black;
  color: white;
  padding: 4px;
  margin: 1px;
}

.key.active {
  background: gray;
  color: black;
}

.key .icon {
  display: block;
  text-align: right;
  font-size: 24px;
  line-height: 1;
  display: none;
}

.active-d .key-q .icon.up {
  display: block;
}

.active-d .key-a .icon.down {
  display: block;
}

.active-a .key-e .icon.up {
  display: block;
}

.active-a .key-d .icon.down {
  display: block;
}

.active-w .key-q .icon.left {
  display: block;
}

.active-w .key-e .icon.right {
  display: block;
}

.active-s .key-q .icon.left {
  display: block;
}

.active-s .key-e .icon.right {
  display: block;
}

.circle {
  margin: 20px 0 20px 20px;
  height: 64px;
  width: 64px;
  border: 4px solid #000;
  border-radius: 64px;
  position: relative;
}

.circle .point-holder {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.circle .point {
  background: black;
  border: 6px solid #000;
  border-radius: 6px;
  position: relative;
  top: -7px;
}

.circle .point.target {
  background: green;
  border-color: green;
}

.circle .point.center {
  align-self: center;
  justify-self: center;
  top: auto;
}

.point-container {
  font: 24px monospace;
}

.gameover .stat {
  display: block;
}

.gameover .timer-stat {
  display: none;
}

#timer {
  height: 8px;
  background: green;
}

.vis-hidden {
  visibility: hidden;
}

.hidden {
  display: none;
}
